.span12 {
    margin: 0px auto;
    float: none;
}

.container {
    height: 43px; /* Fix green line in place so that long map name will not move down */
}

/*.container .pull-right {
    float: left;
}
*/
/*body .navbar-fixed-top .container, body .navbar-fixed-bottom .container {
    width: 1114px; /* Adjust navbar width to account for SparkMod additions 
}*/

.column {
    margin-right: 15px;
    float: left;
}

#file-tree-container {
    padding: 6px;
    min-width: 140px;
    min-height: 40px;
    background-color: gray;
}

#sparkmodcontent .CodeMirror {
    border: 1px solid black;
    font-size:13px;
    height: 100%;
}

#reload-plugin-button {
    display: none;
}

#connection-status {
    display: block;
    width: 25px;
    border-left: 1px solid #222;
}

#redplug {
    visibility: hidden;
    position: absolute;
    width: 14px;
    height: 39px;
    margin-top: 4px;
    margin-left: 10px;
    background: url('/images/redplug.png');
}

#server-loading {
    visibility: hidden;
    margin-top: 8px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    opacity: 0.9;
    filter: alpha(opacity=9);
}

#loading-spinner {
    width: 25px;
    height: 25px;
    background: url('/images/loading-spinner.gif') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}